@{
    ViewData["Title"] = "Home Page";
}
<style>
    .inline-paragraphs {
        display: inline-block;
    }
</style>

<div style="text-align: center;">
    <h1> Luke Loves Minecraft! </h1>
    <br />
    <h3> This is my favorite game right now, I will tell you a little bit about it and why I like it! </h3>
</div>
<br />
<br />
<br />
<br />
<div style ="text-align: center";>
<h4> Here is a video explaining why this game is so good!</h4>
<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/J0EIwldI1_I?si=TQUmfg2wJhvOm96L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<br />
<br />
<div style="text-align: center" ;>
<p class="inline-paragraphs">Minecraft is an open-world RPG that allows the player to do almost anything they want! You explore, build, destroy, kill, create, and much more. In Minecraft, there are no characters other than you, and this simplicity really makes the game personal. It makes you want to play more so you can create the best world and have the best stuff.</p>

<p class="inline-paragraphs">For me, Minecraft is a way to relax after a long day and a way to spend time with my friends. It is such a simple, low-key game that I do not feel stressed to play for a long time.</p>
</div>
<div class="row">
    <div class="column">
        <img src="pic1.jpg" alt="Snow" style="width:100%">
    </div>
    <div class="column">
        <img src="pic2.jpg" alt="Forest" style="width:100%">
    </div>
